table.flavour-table {
  &.light {
    border: 4px solid hsl(0, 0%, 96%) !important;
    background-color: hsl(0, 0%, 96%);
    tr,th {
      border: none;
      &.moltype {
        background-color: hsl(0, 0%, 98%);
      }
    }
    thead {
      border: none;
    }
    tbody {
      background-color: hsl(0, 0%, 98%);
      th {
        background-color: hsl(0, 0%, 96%);
      }
      td {
        border: none;
        background-color: hsl(0, 0%, 100%);
      }
    }
  }
  &.dark {
    color: white;
    border: 4px solid hsl(0, 0%, 28%) !important;
    background-color: hsl(0, 0%, 28%);
    tr,th {
      border: none;
      color: white;
      &.moltype {
        background-color: hsl(0, 0%, 24%);
      }
    }
    thead {
      border: none;
    }
    tbody {
      background-color: hsl(0, 0%, 24%);
      th {
        background-color: hsl(0, 0%, 28%);
      }
      td {
        border: none;
        background-color: hsl(0, 0%, 21%);
      }
    }
  }
}